@import "./index.css";

.modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-dialog__container {
    width: 320px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.modal-dialog__header {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
