<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chats</title>
  <link rel="stylesheet" href="../../assets/styles/grid-layout.css">
  <link rel="stylesheet" href="edit-profile.css">
  <link rel="stylesheet" href="../../assets/styles/info-block.css">
  <link rel="stylesheet" href="../../assets/styles/inputs.css">
  <link rel="stylesheet" href="../../assets/styles/button.css">
  <link rel="stylesheet" href="../../assets/styles/forms.css">
  <link rel="stylesheet" href="../../assets/styles/avatar.css">
</head>
<body>
<div class="grid">
  <header class="sidebar__header edit-profile__header">
    <div class="edit-profile__header-title">
      {{> avatar-header name="IN" }}
      {{> title text="Edit profile" }}
    </div>

    {{> button-primary name="Save" }}
  </header>

  <aside class="sidebar__body edit-profile__body">
    <form class="edit-profile-form" name="edit_profile_form">
      <div class="edit-profile__picture">
        <label class="upload-picture__label" for="avatar">
          <span class="upload-picture__text">Upload</span>
          <input type="file" class="upload-picture__input" id="avatar" name="avatar"/>
        </label>
        <div class="edit-profile__default-img"></div>
      </div>
      <div class="edit-profile__fields">
        {{> text-input id="first_name" label="First name" }}
        {{> text-input id="second_name" label="Surname" }}
        {{> text-input id="login" label="Login" }}
        {{> text-input id="email" label="Email" }}
        {{> text-input id="phone" label="Phone number" }}
        {{> text-input id="display_name" label="Username" }}
        <p class="text-input__additional-text">
          Create a unique username to let people find and message you without needing your phone number.
          Use 5+ characters (letters, numbers, underscores).
        </p>
      </div>
    </form>

    <div class="form__actions">
      {{> button-secondary name="Change password" }}
      {{> button-secondary name="Delete profile" }}
    </div>
  </aside>

  <header class="main__header">
  </header>

  <main class="main__body">
  </main>
</div>


</body>
</html>
