@import "/index.css";

.sign-up__container {
    margin: 0 auto;
    width: 320px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

.sign-up__title {
    margin-bottom: 48px;
}

.sign-up__form-inputs {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sign-up__text-input {
    padding: 9px 16px;
    border-radius: 8px;
    border: 1px solid var(--font-secondary);
}

.sign-up__remember {
    margin-bottom: 48px;
}

.sign-up__submit {
    width: 100%;
    padding: 9px 16px;
    background-color: var(--secondary);
    color: var(--font-tertiary);
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
