@import "/index.css";

.contact {
    height: 70px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    list-style: none;

    &:hover {
        background-color: rgba(51, 105, 243, .1);
        border-radius: 10px;
    }
}

.contact_selected {
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--font-tertiary);

    &:hover {
        background-color: rgba(51, 105, 243, .8);
    }
}

.contact__body {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contact__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__name {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}

.contact__last-visit {
    font-size: 12px;
}

.contact__messages {
    display: flex;
    align-items: center;
}

.contact__last-message {
    width: 195px;
    font-size: 15px;
    line-height: 20px;
    color: var(--font-messages);
}

.contact__last-message_selected {
    color: var(--font-tertiary);
}

.contact__status {
    width: 195px;
    font-size: 15px;
    line-height: 20px;
    color: var(--font-messages);
}

.contact__unread-counter {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary);
    font-size: 14px;
}
