@import "/index.css";

.form__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.form__submit {
    margin-top: 24px;
    width: 100%;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.edit-profile-form {
    margin-bottom: 16px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.message-form {
    margin-bottom: 16px;
    align-self: center;
    width: 610px;
}

.message-form__actions {
    display: flex;
    gap: 16px;
    list-style: none;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


