@import "/index.css";

.grid {
    height: 100vh;
    min-height: 0;
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 70px 1fr;
}

.sidebar__header {
    grid-row: 1;
    grid-column: 1;
    border-bottom: 1px solid var(--font-secondary);
    border-right: 1px solid var(--font-secondary);
}

.sidebar__body {
    grid-row: 2;
    grid-column: 1;
    max-height: 100%;
    min-height: 0;
    overflow-y: auto;
    border-right: 1px solid var(--font-secondary);
}

.main__header {
    grid-row: 1;
    grid-column: 2;
    border-bottom: 1px solid var(--font-secondary);
}

.main__body {
    grid-row: 2;
    grid-column: 2;
    min-height: 0;
}
