@import "/index.css";

.info-block {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.info-block__container {
    display: flex;
    flex-direction: column;
}

.info-block__main-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: rgba(55, 65, 81, 1);
    line-height: 24px;
}

.info-block__assistive-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(107, 114, 128, 1);
}
